body {
    font: 20px Arial;
}

.navbar {
    background-color: #E5E7E9
}

.quem-samos {
    background-color: #5D6D7E;
    color: #ECF0F1
}

.margin {
    padding-bottom: 10px; 
}

.margin-top {
    padding-top: 20px; 
}

.margin-bot {
    padding-top: 20px;
    padding-bottom: 20px;
}

.GIT {
    color: #5D6D7E
}

.parceiros { 
    background-color: #AEB6BF;
    color: #1B2631
}

.serviços {
    background-color: #5D6D7E;
    color: #ECF0F1
}

.bg-footer{
    background-color: #1B2631;
    color: white;
    font: 15px Arial
}